$red-color: #F33F3F;
$title-color: #1a6692;

.latestProduct {
  &__header {
    margin-top: 80px;
    margin-bottom: 20px;
    background: #fff;

    &__title {
      font-size: 28px;
    }

    &__button {
      text-transform: uppercase;
      font-weight: 13px;
      color: $red-color;
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      &--active {
        cursor: pointer;
        a{
          text-decoration: none;
          color: $red-color;
        }
      }
    }
  }
  &__list{
    margin-top: 25px;
    &__item{
      border: 1px solid #eee;
      padding: 0 30px 30px 30px;
      width: 416px;
      height: 500px;
      border-radius: 5px;
      margin-top: 25px;
      img{
        width: 80%;
        height: auto;
        object-fit: cover;
        border-bottom: none;
        margin-top: 25px;
      }
      &__overall{
        display:flex;
        justify-content: space-between;
        font-size: 18px;
        margin-top: 20px;
        &--title{
          color: $title-color;
          font-weight: 600;
        }
        &--price{
          color: #121212;
          font-weight: 600;
        }
      }
      
    }
  }
}

//Short About
.shortAbout{
  margin-top: 100px;
  margin-bottom: 80px;
  &__title{
    font-size: 28px;
  }
  &__content{
    margin-top: 50px;
    &--title{
      color: $title-color;
      font-size: 17px;
      font-weight: 600;
    }
    &--description{
      margin-top: 30px;
    }
  }
  ul{
    margin-top: 30px;
  }
  #btnReadMore{
    display: inline;
    margin-top: 20px;
  }
}
// End short about