// Heading
$red-color: #f33f3f;
$title-color: #1a6692;

.heading {
    padding: 120px;
    text-align: center;
    background-size: cover;
    background-position: center;

    h4 {
        font-size: 22px;
        color: $red-color;
        font-weight: 700;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 62px;
        color: #fff;
    }
}

// End heading
// Product
.product {
    margin-top: 100px;

    ul {
        display: flex;
        text-align: center;
        justify-content: center;

        li {
            list-style-type: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-right: 30px;

        }

        li:hover {
            cursor: pointer;
            color: $red-color;
        }
    }

    &__all {
        &__item {
            border: 1px solid #eee;
            padding: 0 30px 30px 30px;
            width: 416px;
            height: 500px;
            border-radius: 5px;
            margin-top: 25px;

            img {
                width: 80%;
                height: auto;
                object-fit: cover;
                border-bottom: none;
                margin-top: 25px;
            }

            &__overall {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                margin-top: 20px;

                &--title {
                    color: $title-color;
                    font-weight: 600;
                }

                &--price {
                    color: #121212;
                    font-weight: 600;
                }
            }
        }
    }

    &__active {
        color: $red-color;
    }
}
.link{
    text-decoration: none;
    color: inherit
}
.pagination {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

    li {
        width: 50px;
        height: 50px;
        border: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-left: 10px;
        border-radius: 50%;
        &:hover {
            background: $red-color;
            color: #fff;
            cursor: pointer;
        }
    }

    &--active {
        background: $red-color;
        color: #fff;
    }
}

// End product
@media (max-width: 991.98px){
    .product{
        &__all{
            &__item{
                padding: 0 20px 20px 20px;
                width: 350px;
                height: 400px;
                margin-top: 10px;
                img{
                  width: 60%;
                }
                &__overall{
                  &--title{
                    font-size: 16px;
                  }
                  
                }
              }
        }
    }
}